#################
# Files
#################
*.class
*.classpath
*.project
*.settings
*.springBeans
application.log
src/main/resources/git.properties

#################
# Directories
#################
target/
bin/
